= form_for article do |f|
  - if article.errors.any?
    #error_explanation
      %h2= "#{pluralize(article.errors.count, "error")} #{t('articles.error_exp')}:"
      %ul
        - article.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', required: true
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control', required: true
  .form-group
    = f.label :tags
    = f.text_field :tags, class: 'form-control', placeholder: t('articles.tags_help')
  .form-group
    = f.label :sub_tags
    = f.text_field :sub_tags, class: 'form-control', placeholder: t('articles.sub_tags_help')

  .actions
    = f.submit t('articles.save'), class: 'btn btn-md btn-primary'
