.col-lg-8
  %h1= @article.title
  %p.lead
    = t('articles.owner')
    %a(href="#{articles_path(owner_id: @article.owner_id)}")
      = @article.owner.name_or_username
  %hr
  %p.tags
    = format_taggings @article.taggings

  %hr
  %p
    %span.fa.fa-clock-o
    = t('articles.created_at')
    = format_full_date @article

  %p.lead= "#{@article.content[0..20]}..."
  %p= @article.content
